<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031173287344-1723uha6jhmmmpqj6fm1v6cpjvsea90j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031173287344-1723uha6jhmmmpqj6fm1v6cpjvsea90j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031173287344-t2b60tb23hummnoflhcc4i85vlr525au.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJiAt9k5weHO0qoJ6pGLCrEgbGaU9zrrE</string>
	<key>GCM_SENDER_ID</key>
	<string>1031173287344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHubDashboard</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-8394c</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-8394c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031173287344:ios:04e6e9fcfd880e2a107a75</string>
</dict>
</plist>